version: 2
jobs:
  build:
    working_directory: /
    docker:
      - image: docker:17.05.0-ce-git
    steps:
      - checkout
      - run:
          name: Build application Docker image
          command: |
            docker build -t anuragnandan/dolores:latest .
      - deploy:
          name: Push application Docker image
          command: |
              echo ${DOCKERHUB_USERNAME} | docker login ${DOCKERHUB_PASSWORD}
              docker push "${ECR_ENDPOINT}/app:${CIRCLE_SHA1}"
